body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: blue;
}

p {
    color: green;
    font-size: 20px;
}

button {
    background-color: black;
    color: white;
    padding: 12px;
}
